<main>
  <section id="home">
    <div class="container">`
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <p>In order to add a sub account, click on the button below:</p>
          <a class="btn btn-primary" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_FEO5gO2qc2qBntLsQ8J3Okp7w3cMTONy&scope=read_write&redirect_uri=" role="button"><i class="fab fa-stripe-s"></i> Connect with Stripe</a>
        </div>
      </div>
    </div>
  </section>
</main>