<main>
  <section id="client-list">
    <div class="container">`
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <% flash.each do |name, msg| %>
            <div class="alert <%= bootstrap_class_for(name) %> alert-dismissible fade show" role="alert">
              <%= msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
          <div class="p-1"></div>
          <p>In order to add a sub account, click on the button below:</p>
          <a class="btn btn-primary" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_FEO5gO2qc2qBntLsQ8J3Okp7w3cMTONy&scope=read_write&redirect_uri=https://dashboard.ilovefloating.com/connected_accounts/add" role="button"><i class="fab fa-stripe-s"></i> Connect with Stripe</a>
        </div>
      </div>
    </div>
    <div class="clients">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h3>CLIENT LIST</h3>
            <%= link_to "Refresh", connected_accounts_refresh_path, class: "btn btn-primary mt-2" %>
            <table class="accounts-list bg">
              <thead>
                <tr>
                  <th></th>
                  <th>Details</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% serial = 0 %>
                <% @connected_accounts.each do |connected_account| %>
                  <%= render connected_account, serial: serial = serial + 1 %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>