/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 
 * Use @import to import Sass files. Do not use *= require in Sass or your other 
 * stylesheets will not be able to access the Bootstrap mixins and variables.
*/
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "animate";

@import url("https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:400,700&display=swap");

$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace: "Inconsolata", monospace;
$blue: #3c91e6;
$white: #fafffd;
$black: #342e37;
$green: #a2d729;
$orange: #fa824c;
$light-gray: #cdd7d6;

html {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 16px;
  font-family: $sans-serif;
  color: $black;
  background: $white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

header {
  background: linear-gradient(90deg, #186bbd 10%, #80b7ef 90%);
  color: #fdfffc;
}

main {
  flex: 1;
}

h3 {
  font-weight: 700;
  font-size: 2.1em;
  color: #1f2d3d;
  opacity: 0.6;
}

#client-list, #transactions {
  width: 100%;
  // height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 2em 0;
}
.clients {
  margin-top: 60px;
  padding: 60px 0;
  background-color: $light-gray;
  .bg {
    background: $white;
    color: $black;
  }

  table.accounts-list {
    margin: 2em 0;
    color: $black;
    width: 100%;
    th {
      padding: 1em 0;
      font-size: 16px;
      font-weight: normal;
      color: $black;
      padding-left: 2em;
      display: none;
    }
  }
  tr.connected_account {
    border-bottom: 1px solid #ccc;
    transition: 0.5s;
    opacity: 0.75;

    td {
      padding-top: 16px;
      padding-bottom: 16px;
      vertical-align: middle;
    }
  }
  tr.connected_account:hover {
    // background: $light-gray;
    color: #1f2d3d;
    opacity: 1;
  }
  tr.connected_account:last-child {
    border-bottom: none;
  }
  td.serial-number {
    font-size: 2.85em;
    font-weight: 700;
    width: 100px;
    text-align: right;
    border-right: 1px solid #ccc;
    padding-right: 16px;
  }
  td.account-details-c {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 250px;
  }
  .name {
    font-weight: 700;
    line-height: 1.3;
    padding-bottom: 0.33em;
    font-size: 1.1em;
    margin-top: 4px;
  }
  .account-details {
    padding-bottom: 0.3em;
  }
  .account-details > div {
    font-size: 0.85em;
    display: inline-block;
    padding-right: 1em;
    // width: 190px;
    line-height: 1.3;
  }
  .small {
    font-family: $monospace;
  }
  .client-actions {
    list-style: none;
    padding: 0;
    li {
      padding: 0.1em;
    }
  }

  .account-details .tokens {
    width: 100%;
    display: block;
  }
  form.edit_connected_account label {
    font-size: 0.85em;
    font-weight: 700;
  }
  #connected_account_commission {
    width: 80px;
  }
}


#new-transaction {
  padding: 2em 0;
  width: 100%;

  .alert {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .form-container {
    margin-top: 2.5em;
    padding: 2.5em;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6772e5;
  }
  .form-group {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    border-style: none;
    background-color: #7795f8;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #829fff;
    border-radius: 4px;
  }
  .form-row {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .form-row + .form-row {
    border-top: 1px solid #819efc;
  }
  label {
    width: 15%;
    min-width: 100px;
    padding: 11px 0;
    color: #c4f0ff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    font-family: Roboto, Open Sans, Segoe UI, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  input {
    width: 100%;
    padding: 11px 15px 11px 0;
    color: #fff;
    background-color: transparent;
    outline: none;
    border-style: none;
    margin: 0;
    font-family: Roboto, Open Sans, Segoe UI, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  input:focus {
    outline: none !important;;
  }
  input:-webkit-autofill {
    -webkit-text-fill-color: #fce883;
    transition: background-color 100000000s;
    -webkit-animation: 1ms void-animation-out;
  }
  input::placeholder {
    color: #87bbfd;
  }
  // #transaction_start_date_1i, #transaction_start_date_2i, #transaction_start_date_3i {
  select {
    padding: .375rem .75rem;
    border: 1px solid #819efc;
    background: transparent;
    color: #c4f0ff;
    border-radius: 4px;
    color: #fff;
    background-color: transparent;
    outline: none;
    option {
      background-color: #7795f8;
    }
  }
  .form-check {
    max-width: 300px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid #819efc;
    cursor: pointer;
    input, label {
      width: auto;
      display: block;
      margin: 0;
      // padding: 0;
      cursor: pointer;
    }
    input {
      display: none;
    }
  }
  .form-check + .form-check {
    margin-top: 1em;
  }
  .form-check:hover {
    background: #819efc;
  }
  .form-check.is-selected {
    background: #819efc;
    // background: #6772e5;
    // border: 1px solid #6772e5;
    border: 1px solid #fff;
    label {
      color: #fff;
    }
  }  
  .btn-charge {
    background-color: #d782d9;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #e298d8;
  }
}
#card-element {
  width: 100%;
}

.StripeElement {
  // width: 80%;
  padding: 11px 15px 11px 0;
}

#card-errors {
  padding: 11px 15px 11px 0;
  color: #FFC7EE;
}

#error_explanation {
  color: #c4f0ff;
  h2 {
    font-size: 1.2em;
  }
}